@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffaf8;
  --foreground: #292524;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Georgia, "Times New Roman", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
